html, body, .mui-content {
	background-color: #fff;
}
header.mui-bar {
	padding-right: 0;
	background-color: #783ca0;
	box-shadow: 1px 0 0 #aaa;
}
header.mui-bar button.mui-btn-link {
	margin-right: 10px;
}

.right-icon { 
	display: inline-block;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 44px;
}
.mui-bar .mui-btn-link {
	color: #fff;
	font-weight: 600;
}
.mui-bar .mui-btn.mui-pull-right {
	margin-left: 0;
}
header a {
	font-weight: bold;
	color: #fff;
}
.mui-bar .mui-title {
	color: #fff;
	font-weight: bold;
}
header.mui-bar~.mui-content > .mui-scroll-wrapper {
	top: 44px;
}
footer.mui-bar~.mui-content > .mui-scroll-wrapper {
	bottom: 56px;
}

/* 非footer部分的块级按钮 */
.btn-block {
	width: 100%;
	height: 44px;
	text-align: center;
}
.btn-block button {
	width: 90%;
	height: 44px;
	padding: 0;
}
.btn-block button.btn-style-normal {
	background-color: #39bf9e;
	border: 0;
	border-radius: 5px;
	color: #fff;
}


/* footer部分的按钮  */

/* 单独的按钮的时候  */
footer.mui-bar .button-block {
	width: 100%;
	padding: 6px 0;
	text-align: center;
}
footer.mui-bar .button-block button {
	height: 44px;
	width: 100%;
}
footer.mui-bar .button-block button .button-icon {
	font-size: 18px;
}
footer.mui-bar .button-block button .button-text {
	font-size: 16px;
}

/* 为按钮组的时候，一般情况下为两个 */
.button-group {width: 100%;}
.button-group .mui-btn.mui-btn-block {
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 16px;
}
.button-group .btn-color {
	background-color: #39bf9e;
	color: #fff;
}
footer.mui-bar {
	height: 56px;
}
footer.mui-bar .button-group {
	height: 100%;
	padding: 8px 0;
}
footer.mui-bar button {
	padding: 0;
	color: #666;
}
footer.mui-bar button.first-button {
	width: 40%;
	height: 40px;
	margin-right: 5px;
}
footer.mui-bar button.second-button {
	width: 40%;
	height: 40px;
	margin-left: 5px;
}

/*loading*/
#mask{
	position: absolute;
	top: 44px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255,255,255,1);
	z-index: 33;
}
#mask .loading{
	position: absolute;
	height: 80px;
	width: 80px;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
}
#mask .loading img{
	width: 80px;
	height: 80px;
	display: block;
}

/* 等待加载页面内容  */
#loading-mask {
	position: absolute;
	z-index: 998;
	background: #fff; 
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
}
#loading-box{
	position: absolute;
	z-index: 999;
	width: 80px; 
	height: 80px;
	left: 50%;
	overflow: hidden; 
	margin-left: -40px;
	top: 50%;
	margin-top: -40px;
}
#loading-box  img{
	/*height: 80px;*/
	width: 100px;  
}
.fade-out {
	opacity: 0;
	-webkit-transition: all 500ms ease-out;
}

.mui-backdrop {
    background-color: rgba(0,0,0,.6);
}
